<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="mytestBinding"></binding>
      </basicHttpBinding>
      <!--<customBinding>
        <binding name="mytestBinding">
                <textMessageEncoding />
                 <transactionFlow />
                 <httpTransport/>
        </binding>
      </customBinding>-->
    </bindings>
    <client>
      <endpoint address="http://localhost:25571/OperationService.svc" binding="basicHttpBinding" bindingConfiguration="mytestBinding" contract="ServiceInterface.IOperation" name="myTestService"></endpoint>
    </client>
  </system.serviceModel>
  
  <unity>
    <typeAliases>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      <!--<typeAlias alias="loggerInterface" type="Interface.ILogger,Interface"></typeAlias>
      <typeAlias alias="Filelogger" type="Implement.TextFileLogger,Implement"></typeAlias>-->
    </typeAliases>
    <containers>
      <container name="">
        <types>
          <!--<type type="loggerInterface" mapTo="Filelogger">
            <lifetime type="singleton"/>
          </type>-->
          <type type="Interface.ILogger,Interface" mapTo="Implement.DatabaseLogger,Implement" name="databaseLoggerr">
            <lifetime type="singleton"/>
          </type>
        </types>
      </container>
    </containers>
  </unity>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  
</configuration>